<header>
    <div class="header-logo">
        <a href="/">Photo Book</a>
    </div>
    <form class="search-container" action="/photos" method="get">
        <input class="searchbox" type="text" name="search" placeholder=" type your favorite fruit ... "
            value="<%=search%>">
        <input class="searchButton" type="submit" value="Search">
    </form>
    <div class="flex-container">
        <% if (user) { %>
            <div class="login">
                <a href="/logout">Log Out</a>
            </div>
            <div class="login">
                <a href="/myprofile"><%= user.username%></a>
            </div>
            <div class="myphotos">
                <a href="/myPhotos">My Photos</a>
            </div>
        <% } else { %>
            <div class="login">
                <a href="/login">Log In</a>
            </div>
        <% } %>
    </div>
</header>