<header>
    <div class="header-logo">
        <a href="/">Photo Book</a>
    </div>
    <form class="search-container" action="/photos" method="get">
        <input class="searchbox" type="text" name="search" placeholder=" type your favorite tags ... ">
        <input class="searchButton" type="submit" value="Search">
    </form>
    <div class="flex-container">
        <div class="login">
            <% if (user) { %>
                <a href="/myprofile"><%= user.username%></a>
            <% } else { %>
                <a href="/login">Log In</a>
            <% } %>
        </div>
        <div class="myphotos">
            <a href="/myPhotos">My Photos</a>
        </div>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 3rem;
        width: 100vw;
        background-color: blueviolet;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .header-logo {
        padding: 1rem;
        margin-left:0.5rem;
    }
    .header-logo a {
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .flex-container {
        display: flex;
        float: right;
        padding: 1rem;
        margin-right: 1rem;
    }
    .login {
        margin-right: 1rem;
    }
    .flex-container a {
        text-decoration: none;
        color: bisque;
    }

    header a:hover {
        color: rgb(246, 207, 160);
        cursor: pointer;
    }
    .search-container {
        padding: 0.65rem;
    }

    .searchbox {
        width: 30rem;
        padding: 0.2rem 0.75rem;
        border-radius: 10px;
    }
    .searchButton {
        display: none;
    }
    main {
        margin-top: 4rem;
        color: white;
    }
    .main-container {
        width: 66%;
        margin: 0 auto;
    }

    .landing-title {
        text-align: center;
    }
</style>