<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/stylesheet.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-container">
        <div class="add-new-photo">
            <h1 class="landing-title">Add New Photo</h1>
            <form class="form-container" action="/addphoto" method="post">
                <p>Photo Url :</p>
                <input type="text" name="photoUrl">
                <p>Photo Detail :</p>
                <input type="text" name="photoDetail">
                <p>Include to your Photo Album</p>
                <select name="PhotoAlbumId">
                    <option disabled selected hidden>choose one</option>
                    <% albums.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.albumName %></option>
                    <% }) %>
                </select>
                <p>Tags :</p>
                <input type="text" name="tags" placeholder="insert multiple tags with spaces">
                <br>
                <br>
                <br>
                <input type="submit" value="save">
            </form>
        </div>
    </main>
</body>
</html>