<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/stylesheet.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-container">
        <div class="landing-container">
            <!-- <a class="hero-brand" href="/" title="Home"><img alt="Bell Logo" src="assets/img/logo.png"></a> -->
            <div><br>
                <h1 class="landing-title home-title">Welcome to Photo Book</h1>
            </div>
            <div>
                <p class="site-description">Photo Book is a site where you can view images shared by other people and create albums of your own*. We have over 1 million pictures for you to enjoy**. Let's start by looking at photos <span class="photo-link"><a href="/photos">others have uploaded.</a></span></p>
                <br>
                <div class="landing-button-container">
                    <a href="/login">Log In</a>
                    <a href="/signup">Sign Up</a>
                </div>
            </div>
            </div>
        </div>
        
    </main>
</body>
</html>