header {
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100vw;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 1rem;
    margin-left: 0.5rem;
}

.header-logo a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.flex-container {
    display: flex;
    float: right;
    padding: 1rem;
    margin-right: 1rem;
}

.login {
    margin-right: 1rem;
}

.flex-container a {
    text-decoration: none;
    color: bisque;
}

header a:hover {
    color: rgb(246, 207, 160);
    cursor: pointer;
}

.search-container {
    padding: 0.65rem;
}

.searchbox {
    width: 30rem;
    padding: 0.2rem 0.75rem;
    border-radius: 10px;
}

.searchButton {
    display: none;
}

main {
    margin-top: 4rem;
    color: white;
}

.main-container {
    width: 66%;
    margin: 0 auto;
}

.landing-title {
    text-align: center;
}

.bg-image{
    background-image: im;
}


h1 {
    font-size: 30px;
    font-family: sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    transition: 0.5s;
    position: relative;
    font-size: 14px;
    background: #6200ff;
    border: none;
    color: #fff;
    border-radius: 30px;
}

.btn-1:hover {
    /* letter-spacing: 0.15em; */
    background: #6e6e6e;
    color: #dfdfdf;
    /* box-shadow: 0 0 45px #cac9c9; */
}

.box-container {
    /* content: 100px; */
    /* padding-left: 1px;
    padding-right: 1px; */
    /* border-right: 2px; */
    border-bottom: 2px;
    border: 1px solid;
    /* border-width: 150px; */
    /* border-color:#000000; */
}